*{
    background-color: #012101;
    color: white;
    flex-direction: column;
    position: relative;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
    text-align: center;
    font-size: larger;
}

@keyframes growShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

div{
    padding: 10px;
}

.last-div{
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
    font-size: 50px;
    color: red;
    background-color: black;
    animation: growShrink 2s infinite ;
}

@media only screen and (max-width: 400px){
    .last-div{
        font-size: 25px;
        padding: 15px;
    }
    div{
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}